<h2>Edit Post</h2>
<br/>
<form action="/posts/<%= @post.id %>" method="post">
 <div class="form-group">
  <input type="hidden" name="_method" value="put" />
  <label for="post_title">Title:</label>
  <br>
  <input id="post_title" class="form-control" name="post[title]" type="text" value="<%=h @post.title %>" />
 </div>
 <div class="form-group">
  <label for="post_body">Body:</label>
  <br>
  <textarea id="post_body" name="post[body]" class="form-control" rows="5"><%=h @post.body %></textarea>
 </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
